.apply-section{
    background-image: url(img/Screenshot\ 2024-07-02\ 093735.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.fontre{
    font-size: 4rem;
}
.colorf{
    background-color: #df1616; 
    color: white; 
    padding: 5px;
    border-radius: 50%;
}
.nav2st li a{
    color: #0f4d6b;
}
.nav2st li{
    border-right: 1px solid lightgrey;
}