body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #fffdfda1;
}
.nav2st li a {
    color: #0f4d6b;
    z-index: 3;
}